include ../blocks/header/header.pug
include ../blocks/head/head.pug

- const initials = utilsFunc.cnParser(String(user.cn));
- const password = utilsFunc.validator.password(user);

doctype html
html(lang='ru')
	+head(`${user.sAMAccountName} | Карточка аккаунта | SK Russia`)
	body
		div(style='display: none')
			include ../../front/img/sprite.min.svg
		div(class='page page--user')
			+header(`Карточка аккаунта ${user.sAMAccountName}`)
			section(class='section')
				div
					h2(class='section__head') Результаты поиска
					div(class='section__hints')
						include ../blocks/hint/hint-back-btns.pug
					ul(class='section__content results results--show')
						li(class='results__item item')
							h3(class='item__head')=`group\\${user.sAMAccountName}`
							p(class='item__property')!=`<b>Тип аккаунта:</b> ${user.extensionAttribute1} ${utilsFunc.validator.isExpired(user)}`
							p(class='item__property')!=`<b>Описание аккаунта:</b> ${(user.description) ? user.description : ''}`
							p(class='item__property')!=`<b>Пароль просрочен:</b> ${password.isExpired}`
							p(class='item__property')!=`<b>Пароль изменен:</b> ${password.whenChanged}`
							p(class='item__property')!=`<b>Аккаунт залочен:</b> ${utilsFunc.validator.isUserLocked(user)}`
							p(class='item__property')!=`<b>Статус (UAC):</b> ${utilsFunc.uacDecoder(user.userAccountControl)}`
							p(class='item__property')!=`<b>Аккаунт создан:</b> ${utilsFunc.converter.dateToString(utilsFunc.converter.timeStampToDate(user.whenCreated))}`
							p(class='item__property')!=`<b>Аккаунт изменен:</b> ${utilsFunc.converter.dateToString(utilsFunc.converter.timeStampToDate(user.whenChanged))}`
							p(class='item__property')!=`<b>Код завода:</b> ${user.extensionAttribute15}`
							p(class='item__property')!=`<b>Имя (cn):</b> ${user.cn}`
							p(class='item__property')!=`<b>Департамент:</b> ${(user.department) ? user.department : ''}`
							p(class='item__property')!=`<b>Должность:</b> ${(user.title) ? user.title : ''}`
							p(class='item__property')!=`<b>Руководитель:</b> ${(user.manager) ? utilsFunc.managerParser(user.manager) : ''}`
							div(class='item__btns-wrapper')
								a(class='item__search-btn btn' href=`/ad-groups?query=${user.sAMAccountName}`) Список AD групп
								a(class='item__search-btn btn' href=`/computers?${rusonly ? 'rusonly=on&' : ''}mode=computer-by-owner&query=${initials.name.slice(0, 1)}${initials.surname}`) Компьютер пользователя
