include ../blocks/header/header.pug
include ../blocks/head/head.pug
include ../blocks/link/link-img.pug

- const QR_SIZE = 250;
- const initials = utilsFunc.cnParser(String(user.cn));
- const mobile = (user.telephoneNumber) ? `<a class='link' href='tel:${user.telephoneNumber}' title='Позвонить'>${user.telephoneNumber}</a>` : 'N/A';
- const email = (user.mail) ? user.mail : 'N/A';
- const meCard = `MECARD:N:${initials.surname},${initials.name};TEL:${(user.telephoneNumber) ? user.telephoneNumber : 'N/A'};EMAIL:${email};`;

doctype html
html(lang='ru')
	+head(`${user.sAMAccountName} | Контакт | SK Russia`)
	body
		div(style='display: none')
			include ../../front/img/sprite.min.svg
		div(class='page page--qr')
			+header(`Контакт ${user.sAMAccountName}`)
			section(class='section')
				div
					h2(class='section__head') Результаты поиска
					div(class='section__hints')
						+link-img(hostName)
					ul(class='section__content results results--show')
						li(class='results__item item')
							p(class='item__property')!=`<b>Имя:</b> ${user.cn}`
							p(class='item__property')
								b Почта: 
								a(class='link' href=`mailto:${email}` title='Написать')=email
							p(class='item__property')!=`<b>Телефон:</b> ${mobile}`
							br
							p(class='item__property')!='Подожди пару секунд пока <b>QR код</b> загрузится...'
							br
							br
							p(class='item__property item__property--center') Хочешь сохранить контакт в телефоне?
							p(class='item__property item__property--center')!='Наведи камеру смартфона на <b>QR код</b>:'
							img(src=`https://chart.googleapis.com/chart?cht=qr&chs=${QR_SIZE}x${QR_SIZE}&chl=${meCard}`, class='item__qrcode')
