include ../blocks/header/header.pug
include ../blocks/head/head.pug

doctype html
html(lang='ru')
	+head(`Компьютеры | SK Russia`)
	body
		div(style='display: none')
			include ../../front/img/sprite.min.svg
		div(class='page page--computer')
			+header(`Компьютеры`)
			section(class='section')
				div
					h2(class='section__head')=`Результаты поиска - [${computers.length}]`
					div(class='section__hints')
						include ../blocks/hint/hint-back-btns.pug
						p(class='hint hint--show')
							a(href=`/computers/excel?${rusonly ? 'rusonly=on&' : ''}mode=computers-by-name&query=${query}` class='link link--img link--excel' id='btn-export' target="_blank" title='Экспорт в Excel')
								svg(width='18' height='18')
									use(xlink:href='#excel')
					ul(class='section__content results results--show')
						each computer, index in computers
							li(class='results__item item')
								h3(class='item__head')!=`<span>${index + 1}.</span> ${computer.cn}`
								p(class='item__property')!=`<b>Владелец: </b>${computer.description ? computer.description : 'empty'}`
								p(class='item__property')!=`<b>Компьютер создан:</b> ${utilsFunc.converter.dateToString(utilsFunc.converter.timeStampToDate(computer.whenCreated))}`